/* * {margin: auto; padding: auto;} */
/* html, body {
  height: 100%;
} */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fasthand&family=Lexend:wght@400;700&family=Noto+Sans+JP:wght@900&family=Nunito:wght@400;800&family=Poppins:wght@400;600;800&display=swap');


@media only screen and (min-width: 760px){
  .grid-layout{
    height: 100%;
      border:1px dotted rgb(7, 7, 7);
      background-color: rgb(221, 218, 216);
      display: grid;
      grid-template-areas: 'header header'
                          'nav nav'
                          'main main'
                          'footer footer'
                          ;

      grid-template-rows: auto auto auto auto;
    }

    body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif; color: rgb(128, 62, 18);
      font-size: 62.5%;
      font-size: 10px;
    }
    
    header{
      grid-area: header;
      background-color: rgb(129, 129, 129);
      display: flex;
      justify-content:space-between;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      color: white;
    }

    nav{
      grid-area: nav;
      background-color: rgb(171, 219, 231);
      display: flex;
      list-style: none;
      justify-content: space-around;
      gap: 10%;
      width: auto;
      align-items: center;
    }


    main{
      grid-area: main;
      background-color: bisque;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2%;
    }

    footer{
      grid-area: footer;
      background-color: lightgray;
      display: grid;
      grid-template-areas: 'footerInicio footerInicio'
                          'footerFin footerFin';
    }


    .navlinks{
      /* background-color: aqua; */
      display: flex;
      align-items: center;
    }
    
    .nav div.main_list ul li {
      /* background-color: rgb(43, 241, 3);   */
      padding-left: 2rem;
      list-style: none;
    }
    
    .nav div.main_list ul li a {
        text-decoration: none;
        /* color: #fff; */
        line-height: 65px;
        font-size: 1rem;
    }
    
    .nav div.main_list ul li a:hover {
        color: orange;
    }
    
    .carrito{
      /* background-color: blue; */
      padding-left: 2rem;
      width: 2.5rem;
    }
    .logoShop{
      width: 8rem;
    }

    .secMain{
      display: grid;
      grid-template-areas: 'guitarPrincipal recomendados'
                          'relacionados relacionados';
      grid-template-columns: 65% 35%;
      grid-template-rows: auto 30%;

      /* gap: 1%; */
    }
    .guitarPrincipal{
      background-color: rgb(229, 255, 170);
      grid-area: guitarPrincipal;
      display: grid;
      grid-template-areas: 'guitarCompra guitarCaracteristicas'
                          'video video';
      grid-template-columns: 50% auto;
      gap: 3%;
    }

    #guitarCompra{
      background-color: blueviolet;
      grid-area: guitarCompra;
      display: grid;
      justify-items: center;
      padding-top: 5%;
    }
    #guitarCaracteristicas{
      background-color: rgb(43, 226, 165);
      grid-area: guitarCaracteristicas;
      display: flex;
      flex-flow: column;
      padding-top: 5%;
      padding-left: 5%;
    }
    #video{
      grid-area: video;
    }
    .recomendados{
      background-color: rgb(243, 253, 156);
      grid-area: recomendados;
      display: grid;
      /* grid-auto-rows: auto; */
      text-align: center;
    }
    .relacionados{
      background-color: rgb(255, 238, 206);
      grid-area: relacionados;
    }
    .variosCompra{
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      text-align: center;
    }

    .footerInicio{
      grid-area: footerInicio;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-around;
    }

    .footerFin{
      grid-area: footerFin;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-around;

    }

    .producto{
      background-color: azure;
      display: grid;
      justify-items: center;
      gap: 1%;
    }

    .formCantidad{
      display: flex;
      /* display: inline-flex; */
      flex-wrap: wrap;
      gap: 10px;
    }
    #marca{
      width: 20%;
    }
    #instrumento{
      margin-top: 4%;
      width: 35%;
    }

    #instrumentoKey{
      margin-top: 4%;
      width: 80%;
    }

    #precio{
      font-family: 'Lexend', sans-serif;
      font-weight:800;
      color: rgb(255, 51, 0);
      text-decoration: 4px dashed black;
      font-size: 250%;
    }

    #precioVarios{
      font-family: 'Lexend', sans-serif;
      font-weight:800;
      color: rgb(255, 51, 0);
      /* text-decoration: 4px dashed black; */
      font-size: 150%;
      margin-top: -10px ;
    }
    sup{
      font-weight: 800;
      font-size: 50%;
      color: rgb(255, 51, 0);
    }
    
    video{
      width: 100%;
    }
    #stock{
      color: rgb(1, 109, 28);
      text-decoration: 4px dashed black;
      font-size: 150%;
      font-weight: 800;
    }
    #titulos{
      margin-left: 3%;
    }

    h3{
      font-family: 'Lexend', sans-serif;
      font-weight:800;
      color: rgb(255, 51, 0);
    }
    strong{
      color: rgb(199, 97, 60);
      margin-right: 2%;
    }

  
    a{
      text-decoration: none;
      color: rgb(0, 0, 0);
    }

    a:hover{
      color: rgb(247, 69, 5);
    }

    nav:hover,
    nav:hover ~ nav{
      color: antiquewhite;
    }
  /***************** seccion para los botonos de cantidades */
  button:hover,
  button:hover ~ button {
    background-color: orange;
    color: rgb(255, 255, 255);

  }

  input:hover,
  input:hover ~ input {
    background-color: orangered;
    color: rgb(255, 255, 255);
  }

  /***************************** seccion para las estrellas */
  label:hover,
  label:hover ~ label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }

  input[type="radio"] {
    display: none;
  }

  .label {
    color: grey;
    /* width: 50px; */
  }

  #valoracionParrafo{
    margin-right: 3%;
    color: chocolate;
  }

  .estrellas {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  .formEstrellas{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .formEstrellas label {
    font-size: 150%;
  }
}
/* ------------------------------------------------------------------------------------------------- */


@media only screen and (max-width:759px) {

  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; color: rgb(128, 62, 18);
    font-size: 62.5%;
    font-size: 10px;
  }

  .grid-layout{
    height: 100%;
      border:1px dotted rgb(7, 7, 7);
      background-color: rgb(255, 103, 2);
      display: grid;
      grid-template-areas: 'header header'
                           'nav nav'
                           'main main'
                           'footer footer'
                           ;
  
      grid-template-rows: auto auto auto auto;
    }
  
    header{
      grid-area: header;
      background-color: antiquewhite;
      display: flex;
      justify-content:space-evenly;
      align-items: center;
    }
  
    nav{
      grid-area: nav;
      background-color: rgb(171, 219, 231);
      display: flex;
      list-style: none;
      justify-content: space-around;
      width: auto;
      align-items: center;
      padding: 2%;
    }
  
    main{
      grid-area: main;
      background-color: bisque;
      margin-bottom: 2%;
      width: auto;
      font-size: 1rem;
    }
  
    footer{
      grid-area: footer;
      background-color: lightgray;
      display: grid;
      grid-template-areas: 'footerInicio footerInicio'
                           'footerFin footerFin';
    }
  
    .navlinks{

      /* background-color: aqua; */
      display: grid;
      justify-items: right;
      /* gap: -40px; */
      /* gap: 1%; */
      /* flex-direction: row; */
      /* justify-items: center; */
    }
    
    .nav div.main_list ul li {
      /* background-color: rgb(43, 241, 3);   */
      /* padding-left: 2rem; */
      list-style: none;
    }
    
    .nav div.main_list ul li a {
        text-decoration: none;
        /* color: #fff; */
        line-height: 65px;
        font-size: 1rem;
    }
    
    .nav div.main_list ul li a:hover {
        color: orange;
    }
    
    .carrito{
      width: 30%;
      padding-left: 62%;
    }
    
    .logoShop{
      width: 70%;
    }

    .secMain{
      display: grid;
      grid-template-areas: 'guitarPrincipal recomendados'
                          'relacionados relacionados';
      grid-template-columns: auto 35%;
      /* grid-template-rows: auto auto; */
  
      /* gap: 1%; */
    }
    .guitarPrincipal{
      background-color: rgb(66, 92, 4);
      grid-area: guitarPrincipal;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    #guitarCompra{
      background-color: blueviolet;
      grid-area: guitarCompra;
      display: flex;
      flex-direction: row;
      justify-content: center;
      /* margin-top: 5%; */
    }

    video{
      width: 100%;
    }

    #guitarCaracteristicas{
      background-color: rgb(43, 226, 165);
      grid-area: guitarCaracteristicas;
      display: flex;
      flex-flow: column;
      margin-top: 5%;
      padding: 5%;
    }
    #video{
      grid-area: video;
    }
    .recomendados{
      background-color: rgb(243, 253, 156);
      grid-area: recomendados;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .relacionados{
      background-color: rgb(255, 238, 206);
      grid-area: relacionados;
    }
    .variosCompra{
      /* display: grid; */
      /* grid-template-columns: 20% 20% 20% 20% 20%; */
      display: flex;
      flex-direction:column;
      text-align: center;
    }
  
    .footerInicio{
      grid-area: footerInicio;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-around;
    }
  
    .footerFin{
      grid-area: footerFin;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-around;
  
    }
  
    .producto{
      background-color: azure;
      display: grid;
      justify-items: center;
      gap: 1%;
    }
  
  .formCantidad{
    display: flex;
    /* display: inline-flex; */
    flex-wrap: wrap;
    gap: 10px;
  }
    #marca{
      width: 20%;
    }

    #guitarGrande{
      transform: rotate(90deg);
      width: 30%;
      /* margin-top: -80px; */
      /* padding: 0%; */
      /* height: 200%; */
    }
    #instrumento{
      margin-top: 4%;
      width: 35%;
    }
  
    #instrumentoKey{
      margin-top: 4%;
      width: 80%;
    }
  
    #precio{
      font-family: 'Lexend', sans-serif;
      font-weight:800;
      color: rgb(255, 51, 0);
      text-decoration: 4px dashed black;
      font-size: 250%;
    }
  
    #precioVarios{
      font-family: 'Lexend', sans-serif;
      font-weight:800;
      color: rgb(255, 51, 0);
      /* text-decoration: 4px dashed black; */
      font-size: 150%;
      margin-top: -10px ;
    }
    sup{
      font-weight: 800;
      font-size: 50%;
      color: rgb(255, 51, 0);
    }
    
    #video{
      font-family: 'Architects Daughter', cursive;
      font-size: 150%;
    }
    #stock{
      color: rgb(1, 109, 28);
      text-decoration: 4px dashed black;
      font-size: 150%;
      font-weight: 800;
    }
    #titulos{
      margin-left: 3%;
    }
    #tituloRecomendado{
      display: flex;
      flex-direction: column;
      font-size: 1rem;    }
  
    h3{
      font-family: 'Lexend', sans-serif;
      font-weight:800;
      color: rgb(255, 51, 0);
    }
    strong{
      color: rgb(199, 97, 60);
      margin-right: 2%;
    }

    a{
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
  
    a:hover{
      color: rgb(247, 69, 5);
    }
  
    nav:hover,
    nav:hover ~ nav{
      color: antiquewhite;
    }
   /***************** seccion para los botonos de cantidades */
  button:hover,
  button:hover ~ button {
    background-color: orange;
    color: rgb(255, 255, 255);
  
  }
  
  input:hover,
  input:hover ~ input {
    background-color: orangered;
    color: rgb(255, 255, 255);
  }
  
  /***************************** seccion para las estrellas */
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
    /* width: 50px; */
  }
  
  #valoracionParrafo{
    margin-right: 3%;
    color: chocolate;
  }
  
  .estrellas {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  .formEstrellas{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .formEstrellas label {
    font-size: 150%;
  }

}

/* ----------------------------------------------------------------------------------------------------------- */
