@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

*{margin: auto; padding: auto;}



.grid-layout{
  border:1px dotted rgb(7, 7, 7);
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 20% / 10% / 60% / auto;
  background-color: aqua;
}


.carrito{
  width: 2.5rem;
}
.logoShop{
  width: 8rem;
}

#precio{
  font-family: 'Noto Sans JP', sans-serif;
  color: orange;
  text-decoration: 4px dashed black;
  font-size: 200%;
}

#stock{
  font-family:monospace;
  color: rgb(1, 109, 28);
  text-decoration: 4px dashed black;
  font-size: 150%;
}

header{
  grid-area: header;
  background-color: rgb(80, 80, 80);
  display: flex;
  justify-content:space-around;
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 0.5%;
  padding-bottom: 0.5%; */
  color: white;
  font-size: 65%;
}

nav{
  grid-area: nav;
  background-color: rgb(251, 254, 255);
  display: flex;
  list-style: none;
  justify-content: space-around;
  /* gap: 10%; */
  /* width: auto; */
  align-items: center;
  border-top: 0.5px rgb(204, 204, 204);
  border-style:groove;
  border-left: none;
  border-right: none;
}

.navlinks{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}

.nav div.main_list ul li {
  /* background-color: rgb(43, 241, 3);   */
  padding-left: 2rem;
  list-style: none;
}

.nav div.main_list ul li a {
    text-decoration: none;
    /* color: #fff; */
    line-height: 65px;
    font-size: 1rem;
}

.nav div.main_list ul li a:hover {
    color: orange;
}
main{
  display: grid;
  grid-row:auto ;
}



header, nav, main, footer, aside, .picPrincipal, article, main img{
    /* border: 0.5px rgb(204, 203, 203) dashed;
    border-radius: 5px; */
  font-family: "Segoe UI";}

main{
  /* border: 10px rgb(46, 0, 253) dashed; */
  padding-top: 2%;
}

sup {
  font-size: 60%;
}

/* foto del index */

#picPrincipal{
  width: 100%;
  height: 50%;
  padding: 0%;
}


.instrumentos{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  /* background-color: #2196F3; */
  /* padding: 2%; */

}

.instrumentos #instrumento{
width: 100%;

}

.instrumentos a{
  display: grid;
  /* justify-content:flex-start; */
  padding: 1%;
  text-align: center;
  justify-content: center;

}


/***********secciones main*********************/

.secGuitar{
    border: 5px rgb(0, 0, 0) dashed;
    width: 80%;
    margin: auto;

    display: grid;
    grid-template-columns: 65% auto;
    gap: 50px;
    align-content: flex-start;
    /* justify-content: space-bet; */
    /* grid: repeat(3, 200px);  */
}

/* .productoPrincipal{
  border: 10px rgb(209, 104, 5) dashed;
  /* display: flex;
	flex-wrap: wrap; */
  /* display: grid;
  grid-column: 2;
  grid-template-columns: 60% 35%;
  gap: 5%; 
} */

.guitarPrincipal{
  /* grid-column: 1/2;
  grid-row: 1 / 2; */
    border: 5px rgb(255, 0, 0) dashed;
    /* width: 60%; */
    /* margin-top: 0px;
    margin-left: 0px; */
    display: flex ;
    flex-wrap: nowrap;
}


.recomendados{
  grid-column: 2/3;
  border: 5px rgb(0, 139, 253) dashed;
  /* padding-top: 0%; */
  /* width: 25%; */
  text-align: center;
  background-color: rgb(240, 240, 240);
}

.grid-variosCompra{
  grid-column: 1/3;
  border: 5px rgb(13, 253, 0) dashed;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  padding: 2%;
  
}


/* **********secciones HIJAS main******************** */
.recomendados a{

  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  text-align: center;

}

.recomendados section, img, h4{
  padding: 2%;
}



#orange{
  background-color: orange;
}

#guitarCompra{
    /* border: 0.5px rgb(0, 139, 253) dashed; */
    /* width: 50%; */
    width: 50%;
    margin: 5%;
}

#guitarCaracteristicas
{
    /* border: 0.5px rgb(0, 253, 55) dashed; */
    margin: 0%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-color: rgb(245, 244, 244);
    padding-top: 5%;
    padding-bottom: 5%;
}

#guitarCaracteristicas article
{
    /* border: 0.5px rgb(0, 194, 253) dashed; */
    margin-top: 5%;
    width: 80%;

}

#marca{
    /* border: 0.5px rgb(42, 253, 0) dashed; */
    width: 80%;
}


.grid-variosCompra article{
  width: 90%;
  padding: 2%;

}

#instrumento{
  width: 80%;
}

#instrumento1{
  width: 50%;
}



.grid-variosCompra a{
  display: grid;
  /* justify-content:flex-start; */
  padding: 1%;
  text-align: center;

}


article{
    padding: 5%;
}


select {
  margin-bottom: 10px;
  margin-top: 10px;
}

button:hover,
button:hover ~ button {
  background-color: orange;
  color: rgb(255, 255, 255);
}

input:hover,
input:hover ~ input {
  background-color: orangered;
  color: rgb(255, 255, 255);
}

/* label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  } */



  /* input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  } */


/* **************************es de las estrellas */
  #form {
    /* width: 250px; */
    margin: 0 px;
    /* height: 0px; */
    display: flex;
    flex-wrap: wrap;
  }
  
  #form p {
    text-align: center;
  }
  
  .valoracion{
    /* border: 0.5px rgb(253, 59, 0) dashed; */
    text-align: left;
  }

  #form label {
    font-size: 25px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .label {
    color: grey;
    /* width: 50px; */
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  /* ///////////////////////// */





  footer{
    grid-area: footer;
    background-color: lightgray;
    display: grid;
    grid-template-areas: 'footerInicio footerInicio'
                        'footerFin footerFin';
  }
.footerInicio{
  grid-area: footerInicio;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

.footerFin{
  grid-area: footerFin;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  color: grey;
  border-top: 1px grey double;
}

  
  /* @media screen and (max-width: 1000px){
  }


  @media screen and (max-width: 767px){
    
  }*/

  @media screen and (max-width: 767px){
      /* html{
    height: 101%;
    } */
 
    main{
      height: auto;
      width: auto;
    }
    body{
      background-color: rgb(238, 255, 0);
      height: auto;
    }

    #instrumento{
      width: 20px;
    }

    .guitarPrincipal{
      /* border: 5px rgb(255, 0, 0) dashed; */
      width: 100px;
      margin-top: 0px;
      margin-left: 0px;
      display: flex ;
      flex-wrap: nowrap;
  }
  

    footer{
      grid-column: 1 / span 2;
    font-size: 80%;
    height: 50%;
    }
    
    .footerFin{
      border-top: 0.5px rgb(136, 136, 136) double ;
      display: grid;
      grid-template-columns: auto auto auto;
    }

  } 